#a { height: 250px; width: 250px; background-image: url('../images/sprites/bytearrays-sprite.png'); background-position: 0px -0px; }
#b { height: 128px; width: 128px; background-image: url('../images/sprites/bytearrays-sprite.png'); background-position: 0px -250px; }
#c { height: 128px; width: 128px; background-image: url('../images/sprites/bytearrays-sprite.png'); background-position: 0px -378px; }
#d { height: 533px; width: 800px; background-image: url('../images/sprites/bytearrays-sprite.png'); background-position: 0px -506px; }
