#a { height: 128px; width: 128px; background-image: url('../images/sprites/bytearrays-sprite.png'); background-position: 0px -0px; }
#b { height: 128px; width: 128px; background-image: url('../images/sprites/bytearrays-sprite.png'); background-position: 0px -128px; }
