#bbc-png { height: 128px; width: 128px; background-image: url('../images/sprites/sprite.png'); background-position: 0px -0px; }
#blank-png { height: 128px; width: 128px; background-image: url('../images/sprites/sprite.png'); background-position: 0px -128px; }
#facebook-png { height: 128px; width: 128px; background-image: url('../images/sprites/sprite.png'); background-position: 0px -256px; }
#twitter-png { height: 128px; width: 128px; background-image: url('../images/sprites/sprite.png'); background-position: 0px -384px; }
